body{
    background-color: rgb(84, 112, 238);
}

header, footer{
    text-align: center;
    color: white;
}

.section{
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
}

#foto{
    margin: auto;
}